body {
  background: url("https://newevolutiondesigns.com/images/freebies/cool-4k-wallpaper-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

div {
  display: flex;
  justify-content: center;
}

img {
  width: 500px;
  height: 480px;
  margin-right: 10px;
  border-radius: 10px;
}
